boto3==1.34.5
botocore==1.34.5
certifi==2023.5.7
chardet==5.2.0
charset-normalizer==3.3.1
crhelper==2.0.11
idna==3.7
mypy-boto3-cloudformation==1.28.64
mypy-boto3-config==1.28.63
mypy-boto3-iam==1.28.70
mypy-boto3-organizations==1.28.36
mypy-boto3-securityhub==1.34.0
mypy_boto3_guardduty==1.29.0
mypy-boto3-sns==1.28.36
mypy-boto3-sts==1.28.58
requests==2.31.0
retrying==1.3.4
six==1.16.0
typing_extensions==4.5.0
urllib3==2.0.4
